body{
    padding: 50px;
}
header{
    text-align: center;
    font-size: 35px;
    color:rgb(91, 66, 122);
    margin-bottom: 50px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.projects{
    margin-left: 100px;
}
h6{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
a{
    transition: color .3s;
}
a:visited{
    color:rgb(118, 65, 167);
}
a:hover{
    color:blue;
}